node_modules/

# Virtual environment
venv/
.env/
.venv/
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor settings
.vscode/
.idea/
*.swp
tempcoderunner.py

# macOS system files
.DS_Store