node_modules/

# Virtual environment
venv/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor settings
.vscode/
.idea/
*.swp

# macOS system files
.DS_Store

# key store environment
.env